#Dependencies
node_modules/
npm-debug.log*
yarn-error.log*
package-lock.json

#Build/output
dist/
build/
out/
*.apk
*.aab

#OS/editors
.DS_Store
Thumbs.db
*.swp
.vscode/
.idea/

#Caches
.cache/

!website/app-release.apk
